{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order|default(null) %}

{% if order and order.shipments is not empty %}
    {% set paymentFeeAdjustment = constant('ThreeBRS\\SyliusPaymentFeePlugin\\Model\\AdjustmentInterface::PAYMENT_ADJUSTMENT') %}
    {% set paymentFeeAdjustmentTotal = order.getAdjustmentsTotal(paymentFeeAdjustment) %}

    {% if paymentFeeAdjustmentTotal > 0 %}
        <td class="text-end">
            <div {{ sylius_test_html_attribute('payment-total') }}>
                {{ money.convertAndFormat(paymentFeeAdjustmentTotal) }}
            </div>
        </td>
    {% endif %}
{% endif %}
