{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% if order.shipments is not empty %}

	{% set paymentFeeAdjustment = constant('ThreeBRS\\SyliusPaymentFeePlugin\\Model\\AdjustmentInterface::PAYMENT_ADJUSTMENT') %}
	{% set paymentFeeAdjustmentTotal = order.getAdjustmentsTotal(paymentFeeAdjustment) %}

	{% if paymentFeeAdjustmentTotal > 0 %}
		<tr>
			<td colspan="4" class="text-end" id="shipping-total">
				{{ 'threebrs.ui.paymentFee_total'|trans }}:
				<span {{ sylius_test_html_attribute('payment-total') }}>{{ money.convertAndFormat(paymentFeeAdjustmentTotal) }}</span>
			</td>
		</tr>
	{% endif %}
{% endif %}
