includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: tests/Application/var/cache/test/testContainer.xml

    excludes_analyse:
        # Too slow
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - '*/tests/Application/var/*'

        - '*/tests/Behat/*'

        - 'tests/'

        # Internal error: Property $vars was not found in reflection of class Symfony\Component\Form\FormView.
        - src/Form/Extension/PaymentMethodChoiceTypeExtension.php
        - src/Form/Extension/PaymentMethodTypeExtension.php
