{% import '@SyliusAdmin/shared/helper/money.html.twig' as money %}

{% set paymentFeeAdjustment = constant('ThreeBRS\\SyliusPaymentFeePlugin\\Model\\AdjustmentInterface::PAYMENT_ADJUSTMENT') %}

{% set order = hookable_metadata.context.resource %}
{% set paymentFeeAdjustments = order.getAdjustmentsRecursively(paymentFeeAdjustment) %}

{% if paymentFeeAdjustments is not empty %}
<tr>
	<td><strong>{{ 'threebrs.ui.payment_fees_total'|trans }}:</strong></td>
	<td class="text-end">{{ money.format(order.getAdjustmentsTotal(paymentFeeAdjustment), order.currencyCode) }}</td>
</tr>

{% for paymentFeeLabel, paymentFeeAmount in sylius_aggregate_adjustments(paymentFeeAdjustments) %}
	<tr class="text-muted">
		<td><div class="ps-2">&bull; {{ paymentFeeLabel }}:</div></td>
		<td class="text-end">{{ money.format(paymentFeeAmount, order.currencyCode) }}</td>
	</tr>
{% endfor %}
{% endif %}
