{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

<div class="mt-2">
	<div class="badge bg-primary fs-6 float-end" {{ sylius_test_html_attribute('payment-method-fee') }}>
		{{ money.convertAndFormat(fee) }}
	</div>
</div>
