services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    Sylius\Component\Channel\Context\ChannelContextInterface: '@sylius.context.channel.cached'

    ThreeBRS\SyliusPaymentFeePlugin\Form\Type\Calculator\FlatRateConfigurationType: ~

    ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\DelegatingCalculatorInterface:
        class: ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\DelegatingCalculator
        arguments:
            $registry: '@threebrs.sylius_payment_fee_plugin.registry.payment_calculator'

    ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\DelegatingCalculator:
        alias: 'ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\DelegatingCalculatorInterface'

    ThreeBRS\SyliusPaymentFeePlugin\Form\Type\CalculatorChoiceType:
        arguments:
            $calculators: '%threebrs.sylius_payment_fee_plugin.payment_fee_calculators%'
        tags:
            - name: form.type

    ThreeBRS\SyliusPaymentFeePlugin\Form\Extension\PaymentMethodTypeExtension:
        arguments:
            $calculatorRegistry: '@threebrs.sylius_payment_fee_plugin.registry.payment_calculator'
            $formTypeRegistry: '@threebrs.sylius_payment_fee_plugin.form_registry.payment_calculator'
        tags:
            - extended_type: Sylius\Bundle\AdminBundle\Form\Type\PaymentMethodType
              name: form.type_extension

    ThreeBRS\SyliusPaymentFeePlugin\Form\Extension\PaymentMethodChoiceTypeExtension:
        arguments:
            $calculatorRegistry: '@threebrs.sylius_payment_fee_plugin.registry.payment_calculator'
        tags:
            - name: form.type_extension
              extended_type: Sylius\Bundle\PaymentBundle\Form\Type\PaymentMethodChoiceType

    threebrs.sylius_payment_fee_plugin.registry.payment_calculator:
        class: Sylius\Component\Registry\ServiceRegistry
        arguments:
            $context: payment fee calculator
            $className: ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\CalculatorInterface

    threebrs.sylius_payment_fee_plugin.form_registry.payment_calculator:
        class: Sylius\Bundle\ResourceBundle\Form\Registry\FormTypeRegistry

    ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\FlatRateCalculator:
        tags:
            - calculator: flat_rate
              form_type: ThreeBRS\SyliusPaymentFeePlugin\Form\Type\Calculator\ChannelBasedFlatRateConfigurationType
              label: 'threebrs.form.payment_calculator.flat_rate_configuration.label'
              name: ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\DelegatingCalculator

    ThreeBRS\SyliusPaymentFeePlugin\Model\PaymentChargesProcessor:
        arguments:
            $adjustmentFactory: '@sylius.factory.adjustment'
            $paymentChargesCalculator: '@ThreeBRS\SyliusPaymentFeePlugin\Model\Calculator\DelegatingCalculatorInterface'
        tags:
            - name: sylius.order_processor
              priotiry: -5

# TODO OK removed?
#    threebrs.sylius_payment_fee_plugin.order_processing.order_payment_processor.checkout:
#        class: Sylius\Component\Core\OrderProcessing\OrderPaymentProcessor
#        arguments:
#            - '@sylius.order_payment_provider'
#        tags:
#            - name: sylius.order_processor
#              priotiry: 5

    ThreeBRS\SyliusPaymentFeePlugin\Model\Taxation\Applicator\OrderPaymentTaxesApplicator:
        arguments:
            $calculator: '@sylius.tax_calculator'
            $adjustmentFactory: '@sylius.factory.adjustment'
            $taxRateResolver: '@sylius.resolver.tax_rate'

    threebrs.taxation.order_items_based_strategy:
        class: Sylius\Bundle\CoreBundle\Taxation\Strategy\TaxCalculationStrategy
        decorates: sylius.strategy.taxation.tax_calculation.order_items_based
        tags:
            - name: sylius.taxation.calculation_strategy
              type: order_items_based
              label: 'Order items based'
        arguments:
            $type: 'order_items_based'
            $applicators: ['@sylius.applicator.taxation.order_items', '@sylius.applicator.taxation.order_shipment', '@ThreeBRS\SyliusPaymentFeePlugin\Model\Taxation\Applicator\OrderPaymentTaxesApplicator']

    threebrs.taxation.order_item_units_based_strategy:
        class: Sylius\Bundle\CoreBundle\Taxation\Strategy\TaxCalculationStrategy
        decorates: sylius.strategy.taxation.tax_calculation.order_item_units_based
        tags:
            - name: sylius.taxation.calculation_strategy
              type: order_item_units_based
              label: 'Order item units based'
        arguments:
            $type: order_item_units_based
            $applicators: ['@sylius.applicator.taxation.order_item_units', '@sylius.applicator.taxation.order_shipment', '@ThreeBRS\SyliusPaymentFeePlugin\Model\Taxation\Applicator\OrderPaymentTaxesApplicator']
